.widgetlarge{
    flex:2;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    border:1px solid rgb(49, 46, 46);
    padding:20px;
    color:lightgray
}
.widget1{
    display:flex;
    justify-content: space-between;
}
.widgetLgTitleleft{
    display:flex;
    align-items:center;
    flex-direction: column;
    padding-right:20px;
    
}
.CmpaignSent{
    align-items:center  ;
    font-weight: 600;
    font-size:20px ;
    color: red;
    
}
.teleIcon{
    font-size:25px !important;
    padding-right:05px !important;
    
}
.CampaignSentdown{
    font-size: 14px;
    font-weight: 600;
}
.containerLg{
    padding:50px;
    padding-left: 90px;
    padding-top:70px;
    display:flex;
}
.container1{
    
    border:1px solid rgb(49, 46, 46);
   
    margin-top:1px solid rgb(34, 32, 32);
    padding:30px;
    display:flex;
    flex-direction:column;
}
.container1:hover{
    color: #ffbb33;
}
.containerTitle{
    font-size: 16px;
    font-weight: 700;
}
.containerper{
    display:flex;
    padding-top: 5px;
    align-items:center;
    
    padding-top:10px;
    font-size:13px;
    font-weight:500;
    color: blue;
}
.containerno{
    font-size:30px;
    font-weight: 600;
}
.buttons{
    display:flex;
    justify-content: space-around;
    
}
.button1 {
    position: relative;
    background-color: blue;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight:500;
    color: lightgray;
    padding: 18px;
    display:flex;
    
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button1:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .button2 {
    position: relative;
    background-color: rgb(228, 33, 33);
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight:500;
    color: lightgray;
    padding: 18px;
    display:flex;
    
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button2:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .ArrowICon{
      font-size: 10px !important;
      font-weight: 500 !important;
  }